@use './variables' as vars;

.badge {
    padding-inline: 10px;
    padding-block: 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: 500;

    &.success {
        background-color: rgba(40, 167, 69, 0.1); // Light green
        color: #28a745; // Green text
    }

    &.danger {
        background-color: rgba(220, 53, 69, 0.1); // Light red
        color: #dc3545; // Red text
    }

    // Dark mode styles
    &.dark-mode {
        &.success {
            background-color: rgba(40, 167, 69, 0.2); // Darker green
            color: #28a745; // Green text
        }

        &.danger {
            background-color: rgba(220, 53, 69, 0.2); // Darker red
            color: #dc3545; // Red text
        }
    }
}
