@use "./_variables.scss" as vars;

.solid-button {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    padding: 8px 10px;
    background-color: vars.$neutral-900;
    color: vars.$white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

body.dark-mode .solid-button {
    background-color: vars.$neutral-100;
    color: vars.$neutral-900;
}

.solid-button:hover {
    background-color: vars.$neutral-700;
    scale: 0.98;
}

body.dark-mode .solid-button:hover {
    background-color: vars.$neutral-300;
}

.solid-button:active {
    scale: 0.96;
}

.outline-button {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    padding: 8px 10px;
    background-color: vars.$white;
    color: vars.$neutral-600;
    border: 1px solid vars.$neutral-200;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

body.dark-mode .outline-button {
    color: vars.$neutral-200;
    border: 1px solid vars.$neutral-600;
    background-color: vars.$neutral-800;
}

.outline-button:hover {
    color: vars.$neutral-700;
    background-color: vars.$neutral-100;
    scale: 0.98;
}

body.dark-mode .outline-button:hover {
    color: vars.$neutral-300;
    background-color: vars.$neutral-700;
}

.outline-button:active {
    scale: 0.95;
}

