@use "./variables" as vars;

.custom-form-select {
    width: 100px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid vars.$neutral-300;
    background-color: vars.$white;
    color: vars.$neutral-900;
    font-size: 14px;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    position: relative;
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark-mode .custom-form-select {
    border: 1px solid vars.$neutral-600;
    background-color: transparent;
    color: vars.$white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
}

.custom-form-select:focus {
    border-color: vars.$neutral-500;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.08);
}

